{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block active %} active {% endblock %}
{% block title %}Admin Home{% endblock %}
{% block body %}

{% if user.is_superuser %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2 style="text-align:center; margin-bottom:20px;">Users to be Authenticated</h2> <hr>
      {% if usersToBeAuthenticated %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th class="text-center" scope="col">Name</th>
              <th class="text-center" scope="col">Email</th>
              <th class="text-center" scope="col">Approve</th>
            </tr>
          </thead>
          <tbody>
              {% for user in usersToBeAuthenticated %}
                <tr>
                  <td class="text-center">{{ user.username }}</td>
                  <td class="text-center">{{ user.first_name }} {{ user.last_name }}</td>
                  <td class="text-center">{{ user.email }}</td>
                  <td class="text-center">
                    <a href="/approveuser/{{ user.id }}"><button class="btn btn-success" type="submit">Approve</button></a>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h4 class="text-center">All users have been authenticated</h4>
      {% endif %}
      </div>
    <div class="col-6">
      <h2 style="text-align:center; margin-bottom:20px;">Link Units with Projects</h2>
      <hr>
      <form class=""  method="POST">
      {% csrf_token %}
        <div>
          {{form|crispy}}
          <button class="btn btn-primary" type="submit">Add Link</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <hr>
  <!-- Row for filters -->
  <h2 style="text-align:center; margin-bottom:20px;">Projects Proposals</h2> <hr>
    <div class="dropdown container">
      <form action="{% url 'home-page' %}" method="get">
          <div class="input-group mb-3">
              <label for="degree" class="input-group-text">Education Level:</label>
                <select name="degree" class="custom-select" id="inputGroupSelect02">
                      <option value="">Please select an education level</option>
                    <option class="" value="False">  Undergraduate </option>
                    <option value="True"> Postgraduate</option>
                </select>

              <label for="unit" class="input-group-text">Units Provided:</label>
                <select name="unit" class="custom-select" id="inputGroupSelect04">
                    <option value="">Please select a unit</option>
                    <option value="CITS2002">  CITS2002 </option>
                    <option value="CITS2200"> CITS2200 </option>
                    <option value="CITS3200"> CITS3200 </option>
                    <option value="CITS1001"> CITS1001 </option>
                    <option value="CITS2401"> CITS2401 </option>
                </select>
              <input type="submit"  class="btn btn-secondary dropdown-toggle" value="Filter" />
          </div>
      </form>
    </div>
  <div class="container-fluid">
    <!-- Table for list of User Projects -->
    <table class="table table-hover">
      <thead>
        <tr>
        <!-- First row of table for Table Details -->
          <th scope="col">Project Name</th>
          <th class="text-center" scope="col">Unit Code</th>
          <th class="text-center" scope="col">Date Submitted</th>
          <th class="text-center" scope="col">Supervisor</th>
          <th class="text-center" scope="col">Approve</th>
          <th class="text-center" scope="col">Viewable</th>
          <th class="text-center" scope="col">Postgraduate</th>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <!-- Populate table accordingly -->
      {% if all_projects %}
        {% for project in all_projects %}
          <tbody>
            <tr>
              <td scope="row"> <a href="/detail/{{project.projectID}}"> {{project.title}} </a></td>
              <td class="text-center">SAMPLE123</td> <!--THIS NEEDS TO BE CHANGED LATER!-->
              <td class="text-center"> {{project.submissionDate}} </td> <!--THIS NEEDS TO BE CHANGED LATER!-->
              <td class="text-center"> {{project.supervisor1}} </td>

              <!-- Approve Button -->
              <td class="text-center">
                {% if not project.approved %}
                  <a href="/approve/{{project.projectID}}"><button class="btn btn-success" type="submit">Approve</button></a>
                {% else %}
                  <a href="/approve/{{project.projectID}}"><button class="btn btn-danger" type="submit">Unapprove</button></a>
                {% endif %}
              </td>

              <!-- Viewable Button -->
              <td class="text-center">
                {% if not project.viewable and project.approved %}
                  <a href="/viewable/{{project.projectID}}"><button class="btn btn-success" type="submit">List it</button></a>
                {% elif project.viewable and project.approved %}
                  <a href="/viewable/{{project.projectID}}"><button class="btn btn-danger" type="submit">Unlist</button></a>
                {% endif %}              
              </td>

              <!-- Postgraduate checkbox -->
              <td class="text-center">
                {% if not project.postgraduate%}
                  <a href="/postgrad/{{project.projectID}}"><button class="btn btn-success" type="submit">Yes</button></a>
                {% else %}
                  <a href="/postgrad/{{project.projectID}}"><button class="btn btn-danger" type="submit">No</button></a>
                {% endif %}                 
              </td>

              <!-- Admin can edit projects -->
              <td class="text-center">
                <a href="/edit/{{project.projectID}}" style="color: black; font-size:19px;"><i class="fa fa-pencil-square-o"></i></a>
              </td>

              <!-- Admins can delete projects -->
              <td class="text-center">
                <a href="/delete/{{project.projectID}}" style="color: black; font-size:19px;"><i class="fa fa-trash-o" onclick="return confirm('Are you sure you want to Delete?')"></i></a>
            </tr>
            </tr>
          </tbody>
        {% endfor %}

      <!-- No Projects found, so display nothing -->
      {% else %}
        <tbody>
          <tr>
            <td scope="row">No projects need to be approved.</td>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
        </tbody>
      {% endif %}
    </table>
  </div>
{% else %}

{% endif %}


{% endblock %}