{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block active %} active {% endblock %}
{% block title %}Admin Home{% endblock %}
{% block body %}

{% if user.is_superuser %}
<div class="container-fluid">
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-project" aria-selected="true">Project Submissions</a>
      <a class="nav-item nav-link" id="nav-linkunit-tab" data-toggle="tab" href="#nav-linkunit" role="tab" aria-controls="nav-linkunit" aria-selected="false">Unit Links</a>
      <a class="nav-item nav-link" id="nav-authentication-tab" data-toggle="tab" href="#nav-authentication" role="tab" aria-controls="nav-authentication" aria-selected="false">User Approvals</a>
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-projects" role="tabpanel" aria-labelledby="nav-project-tab">
      <h2 style="text-align:center; margin-bottom:20px;">Projects Proposals</h2> <hr>
        <div class="dropdown container">
          <form action="{% url 'home-page' %}" method="get">
              <div class="input-group mb-3">
                  <label for="degree" class="input-group-text">Education Level:</label>
                    <select name="degree" class="custom-select" id="inputGroupSelect02">
                          <option value="">Please select an education level</option>
                        <option class="" value="False">  Undergraduate </option>
                        <option value="True"> Postgraduate</option>
                    </select>

                  <label for="unit" class="input-group-text">Units Provided:</label>
                    <select name="unit" class="custom-select" id="inputGroupSelect04">
                        <option value="">Please select a unit</option>
                        {% for unitID in units %}
                        <option value="{{ unitID }}">  {{ unitID }} </option>
                        {% endfor %}
                    </select>
                  <input type="submit"  class="btn btn-secondary dropdown-toggle" value="Filter" />
              </div>
          </form>
        </div>
      <div class="container-fluid">
        <!-- Table for list of User Projects -->
        <table class="table table-hover">
          <thead>
            <tr>
            <!-- First row of table for Table Details -->
              <th scope="col">Project Name</th>
              <th class="text-center" scope="col">Unit(s) Linked</th>
              <th class="text-center" scope="col">Date Submitted</th>
              <th class="text-center" scope="col">Supervisor</th>
              <th class="text-center" scope="col">Approve</th>
              <th class="text-center" scope="col">Education Level</th>
              <th class="text-center" scope="col">Archive</th>
              <th class="text-center" scope="col"></th>
              <th class="text-center" scope="col"></th>
            </tr>
          </thead>
          <!-- Populate table accordingly -->
          {% if all_projects %}
            {% for project in all_projects %}
              <tbody>
                <tr>
                  <td scope="row" style="vertical-align:middle"> <a href="/detail/{{project.projectID}}"> {{project.title}} </a></td>
                  <td class="text-center" style="vertical-align:middle"> {% for link in unitLinks %} {% if link.projectID.projectID == project.projectID %} {{link.unitID.unitCode}} <br> {% endif %} {% endfor %}  </td>
                  <td class="text-center" style="vertical-align:middle"> {{project.submissionDate}} </td> <!--THIS NEEDS TO BE CHANGED LATER!-->
                  <td class="text-center" style="vertical-align:middle"> {{project.supervisor1.first_name}} {{project.supervisor1.last_name}} </td>

                  <!-- Approve Button -->
                  <td class="text-center" style="vertical-align:middle">
                    {% if not project.approved %}
                      <a href="/approve/{{project.projectID}}"><button class="btn btn-success" type="submit">Approve</button></a>
                    {% else %}
                      <a href="/approve/{{project.projectID}}"><button class="btn btn-danger" type="submit">Unapprove</button></a>
                    {% endif %}
                  </td>

                  <!-- Postgraduate checkbox -->
                  <td class="text-center" style="vertical-align:middle">
                  {% if not project.postgraduate and project.approved %}
                  <a href="/postgrad/{{project.projectID}}"><button class="btn btn-info" type="submit">Undergraduate</button></a>
                  {% elif project.postgraduate and project.approved %}
                  <a href="/postgrad/{{project.projectID}}"><button class="btn btn-warning" type="submit">Postgraduate</button></a>
                  {% endif %}
                  </td>

                  <!-- Archived Button -->
                  <td class="text-center" style="vertical-align:middle">
                    {% if not project.archived and project.approved %}
                    <a href="/viewable/{{project.projectID}}"><button class="btn btn-success" type="submit">Viewable</button></a>
                    {% elif project.archived and project.approved %}
                    <a href="/viewable/{{project.projectID}}"><button class="btn btn-danger" type="submit">Archived</button></a>
                    {% endif %}
                  </td>

                  <!-- Admin can edit projects -->
                  <td class="text-center" style="vertical-align:middle">
                    <a href="/edit/{{project.projectID}}" style="color: black; font-size:19px;"><i class="fa fa-pencil-square-o"></i></a>
                  </td>

                  <!-- Admins can delete projects -->
                  <td class="text-center" style="vertical-align:middle">
                    <a href="/delete/{{project.projectID}}" style="color: black; font-size:19px;"><i class="fa fa-trash-o" onclick="return confirm('Are you sure you want to Delete?')"></i></a>
                  </td>
                </tr>
              </tbody>
            {% endfor %}


          <!-- No Projects found, so display nothing -->
          {% else %}
            <tbody>
              <tr>
                <td scope="row">No projects need to be approved.</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
              </tr>
            </tbody>
          {% endif %}
        </table>
          {% if all_projects.has_other_pages %}
                <div class="pagination justify-content-center" style="font-size:20px">

                {% if all_projects.has_previous %}
                <a href="?page=1" style="margin: 5px">First</a>
                <a href="?page={{ all_projects.previous_page_number }}"style="margin: 5px">Previous</a>
                {% endif %}

                {% for num in all_projects.paginator.page_range %}

                    {% if all_projects.number == num %}
                    <span style="margin: 5px">{{ num }}</span>
                    {% elif num > all_projects.number|add:'-3' and num < all_projects.number|add:'3' %}
                    <a href="?page={{ num }}" style="margin: 5px">{{ num }}</a>
                    {% endif %}

                {% endfor %}

                {% if all_projects.has_next %}
                <a href="?page={{ all_projects.next_page_number }} " style="margin: 5px">Next</a>
                <a href="?page={{ all_projects.paginator.num_pages }} "style="margin: 5px">Last</a>
                {% endif %}
              </div>
            {% endif %}
      </div>
    {% else %}
    {% endif %}
    </div>

    <div class="tab-pane fade" id="nav-linkunit" role="tabpanel" aria-labelledby="nav-linkunit-tab">
      <div class="col-6 container">
          <h2 style="text-align:center; margin-bottom:20px;">Link Units with Projects</h2>
          <hr>
          <form class=""  method="POST">
          {% csrf_token %}
            <div>
              {{form|crispy}}
              <div class="text-center">
                <button class="btn btn-success" name="Add" value="Add" type="submit">Add Link</button>
                <button class="btn btn-danger" name="Delete" value="Delete" type="submit">Remove Link</button>
              </div>
            </div>
          </form>
          <br><br>
        <div class="text-center">
          <h4> Add New Units </h4>
        </div>
        <hr>
        <form class=""  method="POST">
        {% csrf_token %}
        <div class="text-center">{{ form2|crispy }}<button class="btn btn-primary " name="Extra" value="Extra" type="submit">Add New Unit</button> </div>
        </form>
      </div >
    </div>


    <div class="tab-pane fade" id="nav-authentication" role="tabpanel" aria-labelledby="nav-authentication-tab">
      <div class="col-8 container">
        <h2 style="text-align:center; margin-bottom:20px;">Users to be Authenticated</h2> <hr>
          <table class="table {% if usersToBeAuthenticated %} table-hover {% endif %}" style="margin-bottom:8px;">
            <thead>
              <tr>
                <th scope="col" class="text-center">Username</th>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Approve</th>
              </tr>
            </thead>

            <tbody>
            {% if usersToBeAuthenticated %}
                {% for user in usersToBeAuthenticated %}
                  <tr>
                    <td scope="row" class="text-center"><a href="{% url 'profile' user.profile.id %}">{{ user.username }}</a></td>
                    <td class="text-center">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">
                      <a href="/approveuser/{{ user.id }}"><button class="btn btn-success" type="submit">Approve</button></a>
                    </td>
                  </tr>
                {% endfor %}
            {% else %}
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                  </tr>
            {% endif %}
            </tbody>
          </table>
        {% if not usersToBeAuthenticated %}
          <h5 style="text-align:center">All users have been authenticated</h5>
          <br>
        {% endif %}
      <div style="text-align:center"> <hr>
          <a href="{% url 'user-list' %}"> <div class="btn btn-primary">See All Users</div> </a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
