{% extends 'base.html' %}
{% block active %} active {% endblock %}
{% block title %}Admin Home{% endblock %}
{% block body %}

{% if user.is_superuser %}
  <div class="container">
    
    <!-- Table for list of User Projects -->
    <table class="table table-hover">
      <thead>
        <tr>
        <!-- First row of table for Table Details -->
          <th scope="col">Project Name</th>
          <th class="text-center" scope="col">Unit Code</th>
          <th class="text-center" scope="col">Date Submitted</th>
          <th class="text-center" scope="col">Supervisor</th>
          <th class="text-center" scope="col">Approve Project</th>
        </tr>
      </thead>
      <!-- Populate table accordingly -->
      {% if projectList %}
        {% for project in projectList %}
          <tbody>
            <tr>
              <td scope="row"> <a href="/detail/{{project.projectID}}"> {{project.title}} </a></td>
              <td class="text-center">SAMPLE123</td> <!--THIS NEEDS TO BE CHANGED LATER!-->
              <td class="text-center"> {{project.creationDate}} </td> <!--THIS NEEDS TO BE CHANGED LATER!-->
              <td class="text-center"> {{project.supervisor1}} </td>
              
              <!-- Draft checkbox -->
              <td class="text-center">
                <a href="/approve/{{project.projectID}}"><button class="btn btn-success" type="submit">Approve</button></a>
              </td>

            </tr>
          </tbody>
        {% endfor %}

      <!-- No Projects found, so display nothing -->
      {% else %}
        <tbody>
          <tr>
            <td scope="row">No projects need to be approved.</td>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
        </tbody>
      {% endif %}
    </table>
  </div>
{% else %}

{% endif %}

{% endblock %}