<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title> {% block title %} {% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top align-items-end" style="background-color: #26348C;">
        <a class="navbar-brand" href="{% url 'home-page' %}"><img src="{% static '/images/logo.png'%}" width="230" height="75" class="d-inline-block align-top" alt="UWA"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav  mr-auto " style="font-size: 23px">
                <!--{% if user.is_authenticated %}-->
                <li class="nav-item {% block active %} {% endblock %} ">
                    <a class="nav-link" href="{% url 'home-page' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <!--{% endif %}-->
                <li class="nav-item {% block active2 %} {% endblock %}">
                    <a class="nav-link" href="{% url 'project-list' %}">Project List</a>
                </li>
            </ul>

                {% if user.is_superuser %}
                    <a href="/admin/">
                        <button class="btn btn-success" type="submit" style="font-size: 23px; margin-right: 20px">Django Admin</button>
                    </a>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <button class="btn btn-danger" type="submit" style="font-size: 23px">Logout</button>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" style="" >
                        <button class="btn btn-success" type="submit" style="font-size: 23px; margin-right: 20px">Sign in</button>
                    </a>

                    <a href="{% url 'register' %}">
                        <button class="btn btn-success" type="submit" style="font-size: 23px">Register</button>
                    </a>
                {% endif %}

        </div>
    </nav>
</body>

<main role="main mb-5" style="padding-top: 120px;">
    {%  if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% elif message.tags == "error" %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}
</main>


<footer class="footer">
    <hr>
    <p style="margin-left: 470px">&copy; UWA 2017-2019</p>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>