{% extends 'base.html' %}
{% block active %} active {% endblock %}
{% block title %}Home{% endblock %}
{% block body %}

{% if user.is_authenticated %}
  <div class="container">
    <!-- First row for project creation -->
    <div class="row">
          <a href="{% url 'project-registration' %}" >
            <link> <i class="fa fa-plus"></i> Create a Project &raquo;</link>
          </a>
    </div>
    
    <!-- Table for list of User Projects -->
    <table class="table table-hover">
      <thead>
        <tr>
        <!-- First row of table for Table Details -->
          <th scope="col">Project Name</th>
          <th class="text-center" scope="col">Unit Code</th>
          <th class="text-center" scope="col">Date Submitted</th>
          <th class="text-center" scope="col">Supervisor</th>
          <th class="text-center" scope="col">Draft</th>
          <th class="text-center" scope="col">Submitted</th>
          <th class="text-center" scope="col">Approved</th>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <!-- Populate table accordingly -->
      {% if projectList %}
        {% for project in projectList %}
          <tbody>
            <tr>
              <td scope="row"> <a href="/detail/{{project.projectID}}"> {{project.title}} </a></td>
              <td class="text-center">SAMPLE123</td> <!--THIS NEEDS TO BE CHANGED LATER!-->
              <td class="text-center"> {{project.creationDate}} </td> <!--THIS NEEDS TO BE CHANGED LATER!-->
              <td class="text-center"> {{project.supervisor1}} </td>
              
              <!-- Draft checkbox -->
              <td class="text-center">
                {% if project.draft %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-times">
                {% endif %}
              </td>

              <!-- Submitted checkbox -->
              <td class="text-center">
                {% if not project.draft %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-times">
                {% endif %}
              </td>

              <!-- Approved checkbox -->
              <td class="text-center">
                {% if project.approved %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-times">
                {% endif %}
              </td>

              <!-- Checks if the project is a draft or not. If it is, you can edit it. -->
              <td class="text-center">
                {% if project.draft %}
                  <a href="#" style="color: black; font-size:19px;"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}
              </td>
              <!-- Checks if the project is a draft or not. If it is, you can delete it. -->
              <td class="text-center">
                {% if project.draft %}
                  <a href="#" style="color: black; font-size:19px;"><i class="fa fa-trash-o"></i></a>
                {% endif %}
            </tr>
          </tbody>
        {% endfor %}

      <!-- No Projects found, so display nothing -->
      {% else %}
        <tbody>
          <tr>
            <td scope="row">No projects have been created yet.</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
        </tbody>
      {% endif %}
    </table>
  </div>
{% else %}

{% endif %}

{% endblock %}