{% extends 'base.html' %}
{% block active %} active {% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Project Proposal Site!</h1>
      <p>Have an explanation on how the site works here.</p>
    </div>
  </div>

{% if user.is_authenticated %}
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3" >
        <h2>Project Options</h2>
          <a href="{% url 'project-registration' %}" >
            <button class="btn btn-primary btn-large btn-block" role="button" style="margin:auto; display:block"> Create a Project &raquo; </button>
          </a>
          <br>
          <a href="#" >
            <button class="btn btn-primary btn-large btn-block" role="button" style="margin:auto; display:block"> Dashboard &raquo; </button>
          </a>
      </div>
      
      <div class="col-md-3 offset-md-1" >
        <h2>Undergraduate Student</h2>
          <p> Possible to add a picture of students here</p>
          <a href="{% url 'project-list-undergrad' %}" >
            <button class="btn btn-primary btn-large btn-block" role="button" style="margin:auto; display:block"> View List &raquo; </button>
          </a>
      </div>

      <div class="col-md-3 offset-md-1">
        <h2>Postgraduate Student</h2>
          <p> Possible to add a picture of students here</p>
          <a href="{% url 'project-list-postgrad' %}" >
            <button class="btn btn-primary btn-large btn-block" role="button" style="margin:auto; display:block">View List &raquo;</button>
          </a>
      </div>
    </div>
  </div> <!-- /container -->


{% else %}
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4" >
        <h2>Undergraduate Student</h2>
          <p> Possible to add a picture of students here</p>
          <a href="{% url 'project-list-undergrad' %}" >
            <button class="btn btn-primary btn-large btn-block" role="button" style="margin:auto; display:block"> View List &raquo; </button>
          </a>
      </div>
      <div class="col-md-4 offset-md-4">
        <h2>Postgraduate Student</h2>
          <p> Possible to add a picture of students here</p>
          <a href="{% url 'project-list-postgrad' %}" >
            <button class="btn btn-primary btn-large btn-block" role="button" style="margin:auto; display:block">View List &raquo;</button>
          </a>
      </div>
    </div>
  </div> <!-- /container -->
{% endif %}

{% endblock %}