{% extends 'base.html' %}
{% block active2 %} active {% endblock %}
{% block title %} Project List {% endblock %}

{% block body %}
    {% if all_projects %}
        <div class="container">
            <div class="row">
                <div class="col">
<!--                  form for education level and units filter-->
                  <div class="dropdown">
                    <form action="{% url 'project-list' %}" method="get">
                        <div class="input-group mb-3">
                            <label for="degree" class="input-group-text">Education Level:</label>
                              <select name="degree" class="custom-select" id="inputGroupSelect02">
                                  <option value="">Please select an education level</option>
                                  <option class="" value="False">  Undergraduate </option>
                                  <option value="True"> Postgraduate</option>
                              </select>

                            <label for="unit" class="input-group-text">Units Provided:</label>
                            <select name="unit" class="custom-select" id="inputGroupSelect04">
                                <option value="">Please select a unit</option>
                                {% for unitID in units %}
                                <option value="{{ unitID }}">  {{ unitID }} </option>
                                {% endfor %}
                            </select>
                            <input type="submit"  class="btn btn-secondary dropdown-toggle" value="Filter" />
                        </div>
                    </form>
                  </div>
                </div>

                {% for project in all_projects %}
                <a href="{% url 'detail' project.projectID %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ project.title }}</h5>
                        <small>{{ project.submissionDate }}</small>
                    </div>
                    <p class="mb-1">{{ project.description }}</p> <small>Tags:
                    {% for tag in project.projectTags %}
                    #{{ tag }}
                    {% endfor %}</small>
                    {% endfor %}
                </a>
            </div>
            {% if all_projects.has_other_pages %}
                <div class="pagination justify-content-center" style="font-size:20px">

                {% if all_projects.has_previous %}
                <a href="?page=1" style="margin: 5px">First</a>
                <a href="?page={{ all_projects.previous_page_number }}"style="margin: 5px">Previous</a>
                {% endif %}

                {% for num in all_projects.paginator.page_range %}

                    {% if all_projects.number == num %}
                    <span style="margin: 5px">{{ num }}</span>
                    {% elif num > all_projects.number|add:'-3' and num < all_projects.number|add:'3' %}
                    <a href="?page={{ num }}" style="margin: 5px">{{ num }}</a>
                    {% endif %}

                {% endfor %}

                {% if all_projects.has_next %}
                <a href="?page={{ all_projects.next_page_number }} " style="margin: 5px">Next</a>
                <a href="?page={{ all_projects.paginator.num_pages }} "style="margin: 5px">Last</a>
                {% endif %}
                </div>
            {% endif %}

    {% else %}
            <div class="container">
 <!--                  form for education level and units filter-->
                <div class="dropdown">
                    <form action="{% url 'project-list' %}" method="get">
                        <div class="input-group mb-3">
                            <label for="degree" class="input-group-text">Education Level:</label>
                                <select name="degree" class="custom-select" id="inputGroupSelect01">
                                    <option value="">Please select an education level</option>
                                    <option class="" value="False">  Undergraduate </option>
                                    <option value="True"> Postgraduate</option>
                                </select>

                            <label for="unit" class="input-group-text">Units Provided:</label>
                            <select name="unit" class="custom-select" id="inputGroupSelect04">
                                <option value="">Please select a unit</option>
                                {% for unitID in units %}
                                <option value="{{ unitID }}">  {{ unitID }} </option>
                                {% endfor %}
                            </select>
                            <input type="submit"  class="btn btn-secondary dropdown-toggle" value="Filter" />
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col">
                        <h3> No projects have been posted yet!</h3>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}


{% endblock %}
