{% extends 'base.html' %}
{% block title %} Project Details {% endblock %}

{% block body %}
    
    <div class="containter jumbotron col-6 offset-md-3">
        <h1 class="display-4">{{ project.title }}</h1>
        <p class="lead small">Tags: {% for tag in tags %} #{{ tag }} {% endfor %}</p>
        <hr class="my-4">
        <h1>Description</h1>
        <p>{{ project.description }}</p>
        
        <div class="row">
            <div class="col-6">
                <h4>Prerequisites</h4>
                <ul class="list-group list-group-flush">
                    {% for prereq in prereqs %}
                        <li class="list-group-item">- {{ prereq }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6">
                <h4>Relevant Units</h4>
                {% if project.approved %}
                    {% if units %}
                    <ul class="list-group list-group-flush">
                        {% for unit in units %}
                            <li class="list-group-item">- {{ unit }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>There are no units currently allocated to this project</p>
                    {% endif %}
                {% else %}
                <p>Units will be allocated by admins once the project has been approved.</p>
                {% endif %}
            </div>
        </div>
        <br>

        <h4>Number of Students Required</h4>
        <p> {{ project.noOfStudents }} </p>
        <h4> Discipline(s):</h4>

        {% if project.chemical %}
            <p>Chemical</p>
        {% endif %}
        {% if project.civil %}
            <p>Civil</p>
        {% endif %}
        {% if project.elec %}
            <p>Electrical</p>
        {% endif %}
        {% if project.envir %}
            <p>Environment</p>
        {% endif %}
        {% if project.materials %}
            <p>Materials</p>
        {% endif %}
        {% if project.mechanical %}
            <p>Mechanical</p>
        {% endif %}
        {% if project.mechatronic %}
            <p>Mechatronic</p>
        {% endif %}
        {% if project.mining %}
            <p>Mining</p>
        {% endif %}
        {% if project.oilGas %}
            <p>Oil and Gas</p>
        {% endif %}
        {% if project.petroleum %}
            <p>Petroleum</p>
        {% endif %}
        {% if project.software %}
            <p>Software</p>
        {% endif %}
        {% if project.other %}
            <p>Other</p>
        {% endif %}

        <hr class="my-4">
        <h2>Client</h2>
        <p>Contact: {{ supervisor.Title }} {{ supervisor.First_Name }} {{ supervisor.Last_Name }} </p>
        <p>Phone: {{ supervisor.Phone }} </p>
        <p>Email: {{ supervisor.Email }}</p>
        {% if project.supervisor2FirstName or project.supervisor3FirstName %}
            <hr class="my-4">
            <h4>Other Supervisors</h4>
            {% if project.supervisor2FirstName %}
            <p> {{ project.supervisor2Title }} {{ project.supervisor2FirstName }} {{ project.supervisor2LastName }}</p>
            {% endif %}
            {% if project.supervisor3FirstName %}
            <p> {{ project.supervisor3Title }} {{ project.supervisor3FirstName }} {{ project.supervisor3LastName }} </p>
            {% endif %}
        {% endif %}
        <hr class="my-4">
        <h2>IP Consideration</h2>
        <p> {{ project.IP }} </p>
<!-- <button type="button" class="btn btn-primary">Submit Interest</button> -->
    </div>
{% endblock %}

