{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block body %}
{% for field in form %}
    <div class="containter jumbotron col-6 offset-md-3">
        <form class="form-horizontal" role="form">
            <h2>Registration</h2>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email* </label>
                <div class="col-sm-9">
                    <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="Password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="password_comfirm" placeholder="Password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
                <div class="col-sm-9">
                    <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                    <span class="help-block">Your phone number won't be disclosed anywhere </span>
                </div>
            </div>

             <div class="form-group">
                <label for="companyName" class="col-sm-3 control-label">Company Name* </label>
                <div class="col-sm-9">
                <input type="companyName" id="companyName" placeholder="companyName" class="form-control" name= "companyName">
                </div>
            </div>
            <div class="form-group">
                <label for="companyBusiness" class="col-sm-3 control-label">Company Business* </label>
                <div class="col-sm-9">
                <input type="companyBusiness" id="companyBusiness" placeholder="companyBusiness" class="form-control" name= "companyBusiness">
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <span class="help-block">*Required fields</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-large">Register</button>
        </form> <!-- /form -->
    </div> <!-- ./container -->
{% endfor %}
{% endblock %}