{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{%  load crispy_forms_tags %}
{% block body %}
    <body class="container text-center">
      <div class="row justify-content-center">
        <div class="col-4">
          <form class="form-signin" method="POST">
            {% csrf_token %}

            <img class="mb-4" src="img/uwa.png" alt="" width="250" height="250">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            {{form|crispy}}

<!--            <label for="inputEmail" class="sr-only">Email address</label>-->
<!--            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
<!--            <label for="inputPassword" class="sr-only">Password</label>-->
<!--            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>
  </body>
{% endblock %}
