{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{%  load crispy_forms_tags %}

{% block body %}
    <div class="containter jumbotron col-6 offset-md-3">
        <form class="form-horizontal" role="form" method="POST">
            {%  csrf_token %}
            <h2>Registration</h2>

            {{form|crispy}}

            <br>
            <button type="submit" class="btn btn-primary btn-large btn-block" style="margin:auto; display:block">Register</button>

        </form> <!-- /form -->

        <div class="border-top pt-3" style="text-align:center;">
            <small class="text-muted">
                Already Have an Account? <a class= "ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>

    </div>
{% endblock%}