
{% extends 'undergraduate_list/base.html' %}
{% block title %} Sign in {% endblock %}

{% block body %}
    <div class="fluid-container" style="padding: 50px">
      <div class="row justify-content-between">
        <div class="col-3 jumbotron">
          <h1>User Details</h1>
          <hr class="my-4">
          <p>Name: John Smith</p>
          <p>Phone Number: +12 34 56 78</p>
          <p>Email: johnsmith@gmail.com</p>
          <p>Company: UWA</p>
          <button type="button" class="btn btn-primary">Change Password</button>
        </div>

        <div class="col-8 jumbotron">
          <div class="row">
            <h1 class="col-3">Your Projects</h1>

            <a href="#" class="col-md-3 offset-md-6">
              <button type="button" class="btn btn-success btn-lg" style="margin-left: 90px; margin-top:5px"> 
                Create a Project
              </button>
            </a>
          </div>
          <hr class="my-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
              Project 1 Example
              <div style="float:right">
                <button type="button" class="btn btn-primary badge badge-primary" style="margin-right: 20px" >edit</button>
                <button type="button" class="btn btn-danger badge badge-danger">delete</button>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
              Project 2 Example
              <div style="float:right">
                <button type="button" class="btn btn-primary badge badge-primary" style="margin-right: 20px" >edit</button>
                <button type="button" class="btn btn-danger badge badge-danger">delete</button>
              </div>
            </li>
            <li class="list-group-item input-group-preppend list-group-item-action">
              Project 3 Example
              <div style="float:right">
                <button type="button" class="btn btn-primary badge badge-primary" style="margin-right: 20px" >edit</button>
                <button type="button" class="btn btn-danger badge badge-danger">delete</button>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
