
{% extends 'undergraduate_list/base.html' %}
{% block title %} Sign in {% endblock %}

{% block body %}
    <div class="fluid-container" style="padding: 50px">
      <div class="row justify-content-between">
        <div class="col-3 jumbotron">
          <h1>User Details</h1>
          <hr class="my-4">
          <p>Name: John Smith</p>
          <p>Phone Number: +12 34 56 78</p>
          <p>Email: johnsmith@gmail.com</p>
          <p>Company: UWA</p>
          <button type="button" class="btn btn-primary">Edit Details</button>
          <button type="button" class="btn btn-primary">Change Password</button>
        </div>

        <div class="col-8 jumbotron">
          <h1>Your Projects</h1>
          <hr class="my-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
              Project 1 Example
              <div style="float:right">
                <button type="button" class="btn btn-primary badge badge-primary" style="margin-right: 20px" >edit</span>
                <button type="button" class="btn btn-primary badge badge-primary">delete</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
              Project 2 Example
              <div style="float:right">
                <button type="button" class="btn btn-primary badge badge-primary" style="margin-right: 20px" >edit</span>
                <button type="button" class="btn btn-primary badge badge-primary">delete</span>
              </div>
            </li>
            <li class="list-group-item input-group-preppend list-group-item-action">
              Project 3 Example
              <div style="float:right">
                <button type="button" class="btn btn-primary badge badge-primary" style="margin-right: 20px" >edit</span>
                <button type="button" class="btn btn-primary badge badge-primary">delete</span>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
