{% extends 'base.html' %}

{% block body %}

<form class=""  method="post">
{% csrf_token %}
{{form.title.label}} {{form.title}} <br>
{{form.description.label}} {{form.description}} <br>
{{form.noOfStudents.label}} {{form.noOfStudents}} <br>
{{form.projectTags.label}} {{form.projectTags}} <br>
{{form.prerequisites.label}} {{form.prerequisites}} <br>
{{form.IP.label}} {{form.IP}} <br>
<p>Please indicate all disciplines for which the project is suitable: </p>
{{form.chemical.label}} {{form.chemical}} <br>
{{form.civil.label}} {{form.civil}}<br>
{{form.elec.label}} {{form.elec}}<br>
{{form.envir.label}}{{form.envir}}<br>
{{form.materials.label}}{{form.materials}}<br>
{{form.mechanical.label}}{{form.mechanical}}<br>
{{form.mechatronic.label}}{{form.mechatronic}}<br>
{{form.mining.label}}{{form.mining}}<br>
{{form.oilGas.label}}{{form.oilGas}}<br>
{{form.petroleum.label}}{{form.petroleum}}<br>
{{form.software.label}}{{form.software}}<br>
{{form.other.label}}{{form.other}}<br>

<input type="submit" value="Submit">

</form>

{% endblock %}
